#titre {
    color: red;
    animation: colorblink 2s infinite;
}

@keyframes colorblink {
    0% {}
    50% {color:green;}
}

#para {
   font-size: 20px;
}
h2{
    color: yellow;
}
#firstdiv {
    color:blue;
    font-size: 25px;
}